.Modal {
  position: fixed;
  right: -100vh;
  background-color: white;
  width: 25%;
  height: 350px;
  z-index: 10;
  transition: right 0.8s ease-out;
}
.Modal.Show {
  right: 0;
}

.Overlay {
  background-color: rgb(0, 0, 0, 0.25);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}
.Overlay.Show {
  display: block;
}
#CartModalContainer {
  #ModalHeader {
    background-color: rgb(206, 249, 206);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
      font-weight: 100;
      font-size: medium;
    }
  }

  #albumModal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 130px;
    #albumModalDetails {
      width: 150px;
    }
    img {
      height: 100px;
    }
  }

  #modalSubtotal {
    border-top: 1px solid grey;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    span {
      float: right;
    }
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: purple;
    height: 40px;
    width: 60%;
    color: white;
    border: 1px solid black;
    &:hover {
      cursor: pointer;
    }
  }
}
