#shopContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
  padding-left: 15px;
  padding-right:15px;
  

}

#albumDetails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:80vh;
  height:84.5vh;
  overflow: hidden;
  #albumContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
      height:450px;
      width:450px;
    }
  }
  #albumInfo{
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
    h5{
      margin-top: 0;
    }
    h5,h4,h3,p{
      color: black;
    }

    #quantitySelector{
      p{
        display:inline-block;
        padding-right: 5px;
      }
      input{
        width: 30px;
        height:20px;
        display: inline-block;
      }
    }
    button{
      margin-top: 21px;
      &:hover{
        cursor: pointer;
      }
    }

    
  }
}


#shopCard{
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px;
  h3, h5, p{
    margin-bottom: 0;
    margin-top:0;
  }
  h5{
    margin-top: 5px;
    margin-bottom:5px;
  }
  &:hover{
    img{
      color:white;
      opacity:50%;
    }
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color:inherit;
  }
}
#shopCard > img{
  height:250px;
  width:250px;
}
#shopCard > p {
  font-size: small;
  color: maroon;
}